:local {
  .board {
    margin: 30px 0 0;
  }

  .bankButton {
    font-size: 30px;
  }

  .bankTotal {
    font-size: 36px;
    margin: 80px 0 0;
    color: #0099cc;
  }

  .questionContainer {
    position: relative;
  }
}
