:local {
	.moneyBoard {
		width: 150px;
		height: 620px;
		background: #9090a2;
		margin: 20px;
		padding: 10px 10px 20px;
		border-radius: 10px;
		.cell {
			height: 10%;
		}
	}
	.moneyBoardScores {
		height: 100%;
	}
	.scoreButton {
		color: white;
		background: #323282;
		padding: 8px 10px;
		border-radius: 50px;
		width: 80%;
		margin: 3px 10%;
		border: 3px solid darken(#323282, 10%);
	}
	.bank {
		position: relative;
		span {
			position: absolute;
			display: block;
			width: 100%;
			left: 0;
			bottom: 0;
			transform: translate(0, 60%);
			font-weight: bold;
			color: white;
			text-shadow: 1px 2px rgba(black, 0.5);
			font-size: 20px;
		}
	}
	.bankButton {
		color: white;
		background: #0404c5;
		padding: 8px 10px;
		border-radius: 50%;
		font-weight: bold;
		font-size: 20px;
		border: 3px solid darken(#0404c5, 10%);
	}
	.scorePusher {
		margin-top: auto;
		z-index: 2;
	}
	.scoreFader {
		opacity: 0.2;
		margin-top: -30px;
	}
}
